# Cleaning Phenotypic Data for All Subjects

This notebook focuses on cleaning the phenotypic data for all subjects. 
These subjects were found using the individual site's phenotypic data.
Many of the insights from the Exploratory Data Analysis notebook were used when writing this notebook.

The purpose of this notebook is to combine all of the individual phenotypic files from each site into a single dataframe and modify that dataframe to be ready to build a machine learning model. 
Each file has somewhat different recording methods, so it is important that all files follow the same naming conventions.

The resulting file is a .csv file of a cleaned dataframe for all subjects and a cleaned dataframe for each of the sites.

### Imports

These are the packages that will be used to perform the evaluations and actions on the dataframe.

- `os` for accessing files

- `pandas` for using dataframes

- `numpy` for matrices

- `matplotlib.pyplot` for plotting

- `seaborn` for more customized plots

In [1]:
import os
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

### Functions

There are only two functions in this notebook

1. get_base_filepath

2. get_null_values

#### get_base_filepath()

Access the filepath for the base folder of the project

**Input:** None

**Output:** The filepath to the root of the folder

In [2]:
def get_base_filepath():
    '''
    Access the filepath for the base folder of the project
    
    Input: None
    
    Output: The filepath to the root of the folder
    '''
    # Get current directory
    os.path.abspath(os.curdir)

    # Go up a directory level
    os.chdir('..')

    # Set baseline filepath to the project folder directory
    base_folder_filepath = os.path.abspath(os.curdir)
    return base_folder_filepath

#### get_null_values()

Generate a dataframe of the null value count and the minimum value.

**Input:** 

- A list of numeric features to find the null an min values for

- A dataframe to access the features from

**Output:** A dataframe of null value coutn and minimum value for each feature

In [3]:
def get_null_values(features, df):
    '''
    Generate a dataframe of the null value count and the minimum value
    
    Input:
        - A list of numeric features to find the null an min values for
        - A dataframe to access the features from
        
    Output: A dataframe of null value count and minimum value for each feature
    '''
    null_vals = dict()
    for col in features:
        null_vals[col] = (df[col].isnull().sum(), df[col].min())
        
    df_null_vals = pd.DataFrame(data=null_vals, index=['null_count', 'min_value'])
    return df_null_vals

### Load File

Open the files for the phenotypyic data and combine them into a single dataframe with subject as its index.

Get the filepaths to the folders where the files are stored and where the cleaned files will be stored.

In [4]:
# The folder for the project
base_folder_filepath = get_base_filepath() + '\\Data\\Phenotypic\\'
phenotypics_filepath = base_folder_filepath + 'Sites\\'
site_filepath = base_folder_filepath + 'Cleaned_Sites\\'

Read the phenotypic files and add the features to a list that will be reduced to create the dataframe.

In [5]:
# Create empty lists to store important values
features = [] # For the diagnosis

# Iterate through each file in the folder
for site_pheno in os.listdir(phenotypics_filepath):
    # Access the filepath to the phenotypic data
    site_pheno_filepath = os.path.join(phenotypics_filepath, site_pheno)
    
    # Check if the current item in the directory is a file
    if os.path.isfile(site_pheno_filepath):
        # Read the file as a dataframe
        df_pheno = pd.read_csv(site_pheno_filepath, index_col='ScanDir ID')
        
        # Add the diagnosis to the list
        features.append(df_pheno)

Concatenate the features into a single dataframe by stacking the rows.

In [6]:
df_all_phenos = pd.concat(features, axis=0)
df_all_phenos

,Site,Gender,Age,Handedness,DX,Secondary Dx,ADHD Measure,ADHD Index,Inattentive,Hyper/Impulsive,...,QC_S1_Rest_1,QC_S1_Rest_2,QC_S1_Rest_3,QC_S1_Rest_4,QC_S1_Rest_5,QC_S1_Rest_6,QC_S1_Anat,QC_S2_Rest_1,QC_S2_Rest_2,QC_S2_Anat
ScanDir ID,,,,,,,,,,,,,,,,,,,,,
1018959,3,0.0,12.36,1.0,0,NaN,2.0,44.0,47.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1019436,3,1.0,12.98,1.0,3,NaN,2.0,71.0,60.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1043241,3,1.0,9.12,1.0,0,NaN,2.0,40.0,40.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1266183,3,0.0,9.67,1.0,0,NaN,2.0,47.0,44.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1535233,3,1.0,9.64,0.0,0,NaN,2.0,42.0,41.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15058,8,0.0,14.08,1.0,0,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN
15059,8,0.0,9.05,1.0,0,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN
15060,8,1.0,9.76,1.0,0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN
15061,8,1.0,12.04,1.0,0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN
15062,8,1.0,12.88,1.0,0,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN

## Feature Engineering

Adjust existing features and create new ones to improve the dataframe.

Check to see if there are any null values in the diagnosis. 
There are none, but if there were, this row would need to be dropped since it will not be useful.

In [7]:
df_all_phenos['DX'].isnull().sum()

0

### Drop Features

Some features in the current dataframe will not be useful for making predictions. 
The way that the IQ and ADHD values are measured should not be included as an indicator of ADHD. 
Similarly, the quality of the fMRIs should not determine what diagnosis the patient has.

In [8]:
drop_features = ['QC_Rest_1', 'QC_Rest_2', 'QC_Rest_3', 'QC_Rest_4',
       'QC_Anatomical_1', 'QC_Anatomical_2', 'Study #', 'QC_S1_Rest_1',
       'QC_S1_Rest_2', 'QC_S1_Rest_3', 'QC_S1_Rest_4', 'QC_S1_Rest_5',
       'QC_S1_Rest_6', 'QC_S1_Anat', 'QC_S2_Rest_1', 'QC_S2_Rest_2',
       'QC_S2_Anat']

df_all_phenos_filtered = df_all_phenos.copy()
df_all_phenos_filtered = df_all_phenos_filtered.drop(drop_features, axis=1)
df_all_phenos_filtered

,Site,Gender,Age,Handedness,DX,Secondary Dx,ADHD Measure,ADHD Index,Inattentive,Hyper/Impulsive,IQ Measure,Verbal IQ,Performance IQ,Full2 IQ,Full4 IQ,Med Status
ScanDir ID,,,,,,,,,,,,,,,,
1018959,3,0.0,12.36,1.0,0,NaN,2.0,44.0,47.0,44.0,1,99.0,115.0,NaN,103,1.0
1019436,3,1.0,12.98,1.0,3,NaN,2.0,71.0,60.0,66.0,1,124.0,108.0,NaN,122,1.0
1043241,3,1.0,9.12,1.0,0,NaN,2.0,40.0,40.0,43.0,1,128.0,106.0,NaN,120,1.0
1266183,3,0.0,9.67,1.0,0,NaN,2.0,47.0,44.0,43.0,1,136.0,96.0,NaN,120,1.0
1535233,3,1.0,9.64,0.0,0,NaN,2.0,42.0,41.0,43.0,1,106.0,135.0,NaN,122,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15058,8,0.0,14.08,1.0,0,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,115,NaN
15059,8,0.0,9.05,1.0,0,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,103,NaN
15060,8,1.0,9.76,1.0,0,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,137,NaN
15061,8,1.0,12.04,1.0,0,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,98,NaN
15062,8,1.0,12.88,1.0,0,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,108,NaN

### IQ 

The places where Full4 IQ are null is the same subjects that have Full2 IQ. 
These two features can be combined to a create a single IQ feature. 
There are still some points where both Full4 and Full2 IQs are null, which will be filled later in the notebook.

In [9]:
df_all_phenos_filtered.loc[df_all_phenos_filtered['Full4 IQ'].isnull(), 'Full4 IQ'] = df_all_phenos_filtered.loc[df_all_phenos_filtered['Full4 IQ'].isnull(), 'Full2 IQ']

In [10]:
df_all_phenos_filtered['IQ'] = df_all_phenos_filtered['Full4 IQ']
df_all_phenos_filtered = df_all_phenos_filtered.drop(['Full4 IQ', 'Full2 IQ'], axis=1)

In [11]:
df_all_phenos_filtered

,Site,Gender,Age,Handedness,DX,Secondary Dx,ADHD Measure,ADHD Index,Inattentive,Hyper/Impulsive,IQ Measure,Verbal IQ,Performance IQ,Med Status,IQ
ScanDir ID,,,,,,,,,,,,,,,
1018959,3,0.0,12.36,1.0,0,NaN,2.0,44.0,47.0,44.0,1,99.0,115.0,1.0,103
1019436,3,1.0,12.98,1.0,3,NaN,2.0,71.0,60.0,66.0,1,124.0,108.0,1.0,122
1043241,3,1.0,9.12,1.0,0,NaN,2.0,40.0,40.0,43.0,1,128.0,106.0,1.0,120
1266183,3,0.0,9.67,1.0,0,NaN,2.0,47.0,44.0,43.0,1,136.0,96.0,1.0,120
1535233,3,1.0,9.64,0.0,0,NaN,2.0,42.0,41.0,43.0,1,106.0,135.0,1.0,122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15058,8,0.0,14.08,1.0,0,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,115
15059,8,0.0,9.05,1.0,0,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,103
15060,8,1.0,9.76,1.0,0,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,137
15061,8,1.0,12.04,1.0,0,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,98
15062,8,1.0,12.88,1.0,0,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,108

## Null Values

Explore the null values and fill them with reasonable values.

### View null values

Look at the null values and potential false null values for the numeric features in the dataframe.

In [12]:
null_values = dict()
numeric_cols = ['Gender', 'Age', 'Handedness',
                'Verbal IQ', 'Performance IQ', 'IQ']

df_null_values_train = get_null_values(numeric_cols, df_all_phenos_filtered)

df_null_values_train.head()

            Gender   Age  Handedness  Verbal IQ  Performance IQ   IQ
null_count     1.0  0.00         1.0      140.0           140.0    0
min_value      0.0  7.09      -999.0     -999.0          -999.0 -999

-999 is being used as a fill value for null values. 
It will be simpler to turn these into real null values and handle them with the other null values.

In [13]:
for col in df_all_phenos_filtered.columns:
    df_all_phenos_filtered.loc[df_all_phenos_filtered[col] == -999, col] = None

View the null and minimum values to make sure that the change was applied. 
The new minumum values are all valid numbers, except for 'Handedness' which will be addressed later.

In [14]:
null_values = dict()
numeric_cols = ['Gender', 'Age', 'Handedness',
                'Verbal IQ', 'Performance IQ', 'IQ']

df_null_values_train = get_null_values(numeric_cols, df_all_phenos_filtered)

df_null_values_train.head()

            Gender   Age  Handedness  Verbal IQ  Performance IQ    IQ
null_count     1.0  0.00         7.0      194.0           194.0  12.0
min_value      0.0  7.09        -0.2       65.0            54.0  73.0

### Gender

There is one null value for gender which can be filled with the most frequent value. The value 1 is the most frequent, so this is what will be used to fill the null value.

In [18]:
df_all_phenos_filtered['Gender'] = df_all_phenos_filtered['Gender'].fillna(1)

### Handedness

There are seven null values for handedness. The most frequent value is 1 (right-handed), so this will be used to fill the missing values.

The handedness measure at one of the sites measures handedness on a continuous scale unlike the other sites. 
The values greater than 0 are right-handed and the values less than 0 are left-handed. 
These categorical values replace the continuous values.

In [ ]:
df_all_phenos_filtered['Handedness'] = df_all_phenos_filtered['Handedness'].fillna(1)

In [ ]:
df_all_phenos_filtered.loc[df_all_phenos_filtered['Handedness'] > 0, 'Handedness'] = 1
df_all_phenos_filtered.loc[df_all_phenos_filtered['Handedness'] < 0, 'Handedness'] = 0

## Mean-based fill values

The features with IQ have more null values than the other features. 
For this reason, it is more important to fill the null values with points that are representative of the subject. 

With this in mind, the null values for these features will be filled according to the average value for other subjects with the same diagnosis.

### Verbal IQ

Fill the nulll Verbal IQ values with the average value for each type of diagnosis.

In [ ]:
df_all_phenos_filtered.groupby('DX')['Verbal IQ'].mean()

In [ ]:
df_all_phenos_filtered['Verbal IQ Filled'] = df_all_phenos_filtered['Verbal IQ']

df_all_phenos_filtered.loc[df_all_phenos_filtered['Verbal IQ Filled'].isnull(), 'Verbal IQ Filled'] = df_all_phenos_filtered.loc[df_all_phenos_filtered['Verbal IQ Filled'].isnull(), 'DX']

df_all_phenos_filtered.loc[df_all_phenos_filtered['Verbal IQ Filled'] == 0, 'Verbal IQ Filled'] = 114.563694
df_all_phenos_filtered.loc[df_all_phenos_filtered['Verbal IQ Filled'] == 1, 'Verbal IQ Filled'] = 109.401639
df_all_phenos_filtered.loc[df_all_phenos_filtered['Verbal IQ Filled'] == 2, 'Verbal IQ Filled'] = 105.666667
df_all_phenos_filtered.loc[df_all_phenos_filtered['Verbal IQ Filled'] == 3, 'Verbal IQ Filled'] = 107.357895

### Performance IQ

Fill the nulll Performance IQ values with the average value for each type of diagnosis.

In [ ]:
df_all_phenos_filtered.groupby('DX')['Performance IQ'].mean()

In [ ]:
df_all_phenos_filtered['Performance IQ Filled'] = df_all_phenos_filtered['Performance IQ']

df_all_phenos_filtered.loc[df_all_phenos_filtered['Performance IQ Filled'].isnull(), 'Performance IQ Filled'] = df_all_phenos_filtered.loc[df_all_phenos_filtered['Performance IQ Filled'].isnull(), 'DX']

df_all_phenos_filtered.loc[df_all_phenos_filtered['Performance IQ Filled'] == 0, 'Performance IQ Filled'] = 109.984076
df_all_phenos_filtered.loc[df_all_phenos_filtered['Performance IQ Filled'] == 1, 'Performance IQ Filled'] = 103.254098
df_all_phenos_filtered.loc[df_all_phenos_filtered['Performance IQ Filled'] == 2, 'Performance IQ Filled'] = 113.333333
df_all_phenos_filtered.loc[df_all_phenos_filtered['Performance IQ Filled'] == 3, 'Performance IQ Filled'] = 100.968421

### IQ

Fill the nulll IQ values with the average value for each type of diagnosis.

In [ ]:
df_all_phenos_filtered.groupby('DX')['### IQ

Fill the nulll IQ values with the average value for each type of diagnosis.IQ'].mean()

In [ ]:
df_all_phenos_filtered['IQ Filled'] = df_all_phenos_filtered['IQ']

df_all_phenos_filtered.loc[df_all_phenos_filtered['IQ Filled'].isnull(), 'IQ Filled'] = df_all_phenos_filtered.loc[df_all_phenos_filtered['IQ Filled'].isnull(), 'DX']

df_all_phenos_filtered.loc[df_all_phenos_filtered['IQ Filled'] == 0, 'IQ Filled'] = 113.745098
df_all_phenos_filtered.loc[df_all_phenos_filtered['IQ Filled'] == 1, 'IQ Filled'] = 107.620690
df_all_phenos_filtered.loc[df_all_phenos_filtered['IQ Filled'] == 2, 'IQ Filled'] = 110.800000
df_all_phenos_filtered.loc[df_all_phenos_filtered['IQ Filled'] == 3, 'IQ Filled'] = 104.710280

View the null and minimum values again to see if the changes worked.

In [ ]:
null_values = dict()
numeric_cols = ['Gender', 'Age', 'Handedness', 'Verbal IQ', 'Verbal IQ Filled',
                'Performance IQ', 'Performance IQ Filled', 'IQ', 'IQ Filled']

df_null_values_train = get_null_values(numeric_cols, df_all_phenos_filtered)

df_null_values_train.head()

View the new dataframe with the features that were adjusted and created.

In [ ]:
features = ['Gender', 'Age', 'Handedness', 'Verbal IQ', 'Verbal IQ Filled',
            'Performance IQ', 'Performance IQ Filled', 'IQ', 'IQ Filled', 'DX']

df_all_phenos_filtered[features]

## Export Dataframes

Save the dataframes as .csv files and export them to the correct location in the Phenotypic folder of the project for later use.

Save the cleaned dataframe as a .csv file in the phenotypic folder of the project.

In [ ]:
df_all_phenos_filtered[features].to_csv(base_folder_filepath + '2023.7.13-Cleaned_Phenotypic_All_Subjects.csv')

Save the cleaned dataframe for each of the sites in a  Cleaned Site folder.

In [ ]:
site_names = ['KKI', 'NYU', 'OHSU', 'Peking', 'Pittsburgh', 'WashU']
site_nums = [3, 5, 6, 1, 7, 8]

In [ ]:
# For each index in the site numbers list...
for i in range(len(site_nums)):
    # Locate the subjects from that site and store them as a dataframe
    site_pheno = df_all_phenos_filtered.loc[df_all_phenos_filtered['Site'] == site_nums[i]]
    
    # Save the dataframe with select features in the correct folder
    site_pheno[features].to_csv(site_filepath + '2023.7.13-Cleaned_' + site_names[i] + '_pheno.csv')